name: Check Docstrings
on: [ pull_request ]

jobs:
  docstyle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 flake8-docstrings sphinx sphinx-autodoc-typehints myst-parser sphinx-rtd-theme 

      - name: Run flake8
        run: flake8 .

# Disabled until github pages are set up
#      - name: Generate Sphinx documentation
#        working-directory: docs
#        run: |
#          make html